<style>
	.metric-label {
		font-size: 5rem;
	}
</style>

<div class="page">

	<div class="page-inner">

		<header class="page-title-bar">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">
						<a href="home.html">
							<i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Investors</a>
					</li>
				</ol>
			</nav>
		
			<div class="d-md-flex align-items-md-start">
				<h1 class="page-title mr-sm-auto">Settings</h1>
				<div id="dt-buttons" class="btn-toolbar"></div>
			</div>
		
		</header>

		<div class="page-section">

			<div class="row">

				<div class="col-lg-4">

					<div class="card card-fluid">
						<h6 class="card-header">Your Details</h6>

						<nav class="nav nav-tabs flex-column">
							<a href="profile.html" class="nav-link">Profile</a>
							<a href="payment.html" class="nav-link">Payment</a>
							<a href="payout.html" class="nav-link">Payout</a>
							<a href="invoices.html" class="nav-link">Invoices</a>
						</nav>

					</div>

				</div>

				<div class="col-lg-8 text-center align-self-center">
					<span class="oi oi-wrench metric-label"></span>
					<h1 class="metric-label">Settings</h1>
				</div>

			</div>

		</div>

	</div>

</div>

